.main_board{
    width: 800px;
    height: 800px;
    background-color: aliceblue;
    margin: auto;
}
.black_div{
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;

}
.yellow_div{
    width: 100px;
    height: 100px;
    background-color: yellow;
    float: left;

}
